// SearchBar
@import ../../scss/_utils
@import ../../scss/_variables

// Price menu
.price-range-menu
    @include spacing($property: padding, $direction: all, $amount: 4)
    color: $gray-300

    & > h4
        color: $primary-color

    &__form
        @include display-flex()
        flex-direction: column
        align-items: flex-end
        margin-top: $spacing-unit

// Price form
.price-range-form
    max-width: 300px

    &__body
        @include display-flex()
        flex-direction: row
        justify-content: space-between
        align-items: center

    &__input
        width: 100%
        &:first-child
            margin-right: $spacing-unit

    &__footer
        margin-top: $spacing-unit * 3
        @include display-flex()
        flex-direction: row
        justify-content: flex-end
        align-items: center

        & > *
            margin-left: $spacing-unit * 4

// Error continee
.errors
    @include spacing($property: margin, $direction: y, $amount: 1)

    &__error-message
        display: block
        color: $error-color
