// SearchBar
@import ../../scss/_utils
@import ../../scss/_variables

// Price menu
.price-range-menu
    @include spacing($property: padding, $direction: all, $amount: 4)
    color: $gray-300

    & > h4
        color: $primary-color

    &__form
        @include display-flex()
        flex-direction: row
        align-items: center
        margin-top: $spacing-unit

        &__input
            width: 250px
            flex-grow: 0.5

    &__error-message
        color: $error-color
