// Logo
@import ../../scss/_utils

.logo
    $self: &

    height: 40px
    @include display-flex()
    flex-direction: row
    align-items: center

    & > svg
        height: 24px
        width: 24px

    &__name
        display: none
        @include breakpoint($point: laptop)
            display: inherit

        &--dimmed
            opacity: 0.5
