// HomeView
@import ../../scss/_variables
@import ../../scss/_utils

.homeview
    padding-bottom: $spacing-unit * 16
    &__footer
        @include spacing($property: margin, $direction: y, $amount: 8)
        text-align: center

    &__toolbar
        @include display-flex()
        flex-direction: column
        justify-content: center
        align-items: center
        @include spacing($property: margin, $direction: x, $amount: 1)

        // Responsivness
        @include breakpoint($point: phablet)
            flex-direction: row
            justify-content: space-between

    // typography color
    &__pagination-info
        margin-left: $spacing-unit * 2
        color: $primary-color
