// Search View
@import ../../scss/_variables
@import ../../scss/_utils
@import ../../scss/_animations

// Search view header classes
.searchview-header
    @include display-flex()
    flex-direction: column
    margin-top: $spacing-unit * 11
    @include spacing($property: margin, $direction: x, $amount: 3)

    &__heading
        @include display-flex()
        flex-direction: column
        margin-bottom: $spacing-unit * 12
        animation: 500ms linear 0s 1 fade-in, 250ms linear 0s 1 search-heading-slide-in

    &__toolbar
        @include display-flex()
        flex-direction: column
        justify-content: space-between
        align-items: center

        @include breakpoint($point: tablet)
            flex-direction: row

    &__title
        color: $gray-300

    &__subtitle
        color: $gray-500

    &__pagination-info
        color: $primary-color

// search view classes
.searchview
    padding-bottom: $spacing-unit * 16

    &__footer
        @include spacing($property: margin, $direction: y, $amount: 8)
        text-align: center

    &__empty-state
        @include display-flex()
        flex-direction: column
        align-items: center
        justify-content: center
        min-height: 300px
        padding-top: $spacing-unit * 32

        & > *
            color: $gray-300
            font-size: 1rem

        & > svg
            margin-bottom: $spacing-unit * 4
            fill: rgba(0,0,0, 0.1)
            height: 140px
            width: 140px

// animation
@include slide-in($name: search-heading-slide-in, $start: 10%, $finish: 0%)
