// SearchBar
@import ../../scss/_utils
@import ../../scss/_variables

// Mixin
@mixin active-input-color()
    background-color: $white-color
    @include box-shadow($left: 0, $top: 9px, $blur: 20px, $color: rgba(0,0,0,0.1))

// Searchbar wrapper
.searchbar-wrapper
    @include display-flex()
    flex-grow: 0.9

    @include breakpoint($point: laptop)
        flex-grow: 0.5

// Search input
.text-search
    flex-grow: 1
    align-items: center
    background-color: #E8E7E7

    @include spacing($property: padding, $direction: x, $amount: 4)
    @include transition($property: background, $duration: 200ms, $easing: linear)

    &--active
        @include active-input-color()

    &__icon
        margin-left: -$spacing-unit * 2
        margin-right: $spacing-unit

    &__input
        width: 100%

// Price input
.price-search
    $self: &
    margin-left: $spacing-unit * 2
    cursor: pointer
    @include display-flex()
    align-items: center
    background-color: #E8E7E7
    @include spacing($property: padding, $direction: x, $amount: 1)
    @include transition($property: padding, $duration: 200ms, $easing: linear)

    // Hide price input/button on phablet
    display: none
    @include breakpoint($point: phablet)
        display: inherit

    &--active
        @include active-input-color()

    &__icon
        min-width: 20px
        & > svg
            height: 16px
            width: 16px
