// Button
// ––––––––––––––––––––––––––––––––––––––––––––––––––

@import ../scss/_variables
@import ../scss/_utils

// Mixins
// ––––––––––––––––––––––––––––––––––––––––––––––––––

// Mixin to generate color styling for contained button
@mixin button-conatined-color-mods($color, $color-dark)
    background-color: $color
    border: 1px solid $color-dark
    @include box-shadow($left: 0, $top: 2px, $blur: 1px, $color: $color-dark)
    @include transition($property: box-shadow, $duration: 200ms, $easing: ease-out)

    &:hover
        background-color: darken($color, 3%)
    &:active
        background-color: darken($color, 10%)

// Mixin to generate color styling for text button
@mixin button-text-color-mods($color)
    border-color: transparent
    background-color: transparent
    &:hover
        background-color: rgba($color, 0.1)
    &:active
        background-color: rgba($color, 0.2)

// Classes
// ––––––––––––––––––––––––––––––––––––––––––––––––––
.button
    $self: &
    font-size: 14px
    cursor: pointer
    vertical-align: top

    @include border-radius($radius: $spacing-unit)
    @include spacing($property: padding, $direction: x, $amount: 5)
    @include spacing($property: padding, $direction: y, $amount: 2.5)
    @include transition($property: background-color, $duration: 100ms, $easing: ease-out)

    // button body
    #{ $self }__content
        display: flex
        flex-direction: row
        align-items: center

    // Button variants
    &--variant-contained
        // apply shadow for contained button depending on the --color-[prop]
        &#{ $self }--color-default
            @include button-conatined-color-mods($color: $white-color, $color-dark: darken($gray-900, 10%))

        &#{ $self }--color-primary
            @include button-conatined-color-mods($color: $primary-color, $color-dark: darken($primary-color, 10%))

    &--variant-text,
    &--variant-icon
        // apply bg color for text button depending on the --color-[prop]
        &#{ $self }--color-default
            @include button-text-color-mods($color: $gray-300)

        &#{ $self }--color-primary
            @include button-text-color-mods($color: $primary-color)

    &--variant-icon
        border-radius: 100px
        @include spacing($property: padding, $direction: all, $amount: 2)

    // Color
    &--color-default
        color: $gray-300

    &--color-primary
        color: $white-color

    // Icons
    #{ $self }__start-icon
        margin-right: $spacing-unit * 2

    #{ $self }__end-icon
        margin-left: $spacing-unit * 2

    #{ $self }__center-icon svg,
    #{ $self }__start-icon svg,
    #{ $self }__end-icon svg
        font-size: 12px
        width: 20px
        height: 20px

    #{ $self }__center-icon svg
        height: 24px
        width: 24px
