// TopBar
@import ../../scss/_utils

.topbar
    @include display-flex()
    flex-direction: row
    justify-content: space-between
    align-items: stretch
    padding-top: $spacing-unit * 6


    & > *
        margin-right: $spacing-unit * 2